*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
   
}
nav{
   flex: 1;
   text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}
nav ul li:hover{
    border-bottom: 2px solid #cc4646;
}
a{
    text-decoration: none;
    color: #555;
}
P{
    color: #555;
}
.cart-btn{
    cursor: pointer;
}
.container{
    max-width: 1300px;
    padding-right: 25px;
    margin: auto;
    padding-left: 25px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
 

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
max-width: 100%;
padding: 50px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}
.btn{
    display: inline-block;
    background: #00000080;
    color: #fff;
    padding: 8px 30px;
    transition:transform 0.5s;
    margin: 30px 0;
    border-radius: 30px;
    background: #cc4646;
}
.header{
    background:radial-gradient(#fff,#a2a6af);
}
.header .row{
    margin-top: 70px;
}
.btn:hover{
   
    background:rgb(110, 93, 93);
}
.categories{
    margin: 70px 0;

}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;

}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transform: translateY(-5px);
}
.col-4 img{
    width: 100%;
    transition: transform 0.5s;
}
.title{
    text-align: center;
    margin: auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    margin-bottom: 80px;
}
.title::after{
    content: " ";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;

    left: 50%;
    transform: translate(-50%);
}
.col-4 p{
    font-size: 14px;
}
.col-4 h4{
    font-size: 14px;
    color: #555;
}
.rating .fas,.fa,.far{
    color: #ff523b;
}
.col-4 img:hover{
   transform: translateY(-15px); 

}
.offer{
    background:radial-gradient(#fff,#a2a6af);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
padding: 50px;
}
small{
    color: #555;
}
.testmonial{
    padding-top: 100px;
}
.testmonial .col-3{
    text-align: center;
    padding:40px 20px;
 cursor: pointer;

    box-shadow:0 0 20px 0px rgba(0,0,0,.2);
transition:transform 0.5s;
}
.testmonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testmonial .col-3:hover{
    transform: translateY(-10px);
}
 .fa-quote-left{
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testmonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* .footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding-top: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;

}
.footer-coll-2{
    flex: 1;
    text-align: center;
    

}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;

}
.footer-col-3,.footer-col-4{
flex-basis: 12%;
text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top:20px ;
}.app-logo img{
    width: 140px;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.hr{

    width: auto;
    justify-content: center;
    align-items: center;
    margin:20px 0;
    margin-top: 30px;
}
.p{
    margin: auto;
text-align: center;
margin-top: 20px;
color: rgb(153, 146, 146);
}



.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
    cursor: pointer;
}

 @media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background:#ff523b;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right:50px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: none;
    }
    nav ul li a{
        color: white;
        
        }
    .menu-icon{
        display: block;
    }
    nav ul li:hover{
        border-bottom: none;
    }
   
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;

}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background:#ff523b;
    color: whitesmoke;

}
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
     flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
      display: none;
    }    
}
/* -------Page_2-------------- */
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;

}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{

    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px ;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;

}
.single-product .fas{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;

}
.small-img-col{
 flex-basis: 24%;
 cursor: pointer;

}
/* ----cart-item----- */
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;

}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;

}
td input{
    width: 50px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;

}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 370px;

}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
